repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
        exclude_types:
          - rust
      - id: check-symlinks
      - id: check-xml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: trailing-whitespace
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.33
    hooks:
      - id: tombi-format
        exclude: ^Cargo.lock$
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff-check
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args:
          - --scripts-are-modules
        additional_dependencies:
          - pytest<9
          - typing-extensions
