[package]
name = "pyromark"
version = "0.3.0"
edition = "2021"
license = "MIT"
include = [
  "/python",
  "/src",
  "/Cargo.lock",
  "/Cargo.toml",
  "/LICENSE",
  "/pyproject.toml",
  "/README.md",
]
publish = false

[lib]
name = "_pyromark"
crate-type = ["cdylib"]

[dependencies]
pulldown-cmark = { version = "=0.10.0", default-features = false, features = [
  "html",
  "simd",
] }
pyo3 = "=0.20.2"

[profile.release]
strip = true
lto = "fat"
codegen-units = 1
