[package]
name = "pyromark"
version = "0.6.2"
edition = "2021"
license = "MIT"
include = [
  "/python",
  "/src",
  "/Cargo.lock",
  "/Cargo.toml",
  "/LICENSE",
  "/pyproject.toml",
  "/README.md",
]
publish = false

[lib]
name = "_pyromark"
crate-type = ["cdylib"]

[dependencies]
pulldown-cmark = { version = "=0.12.2", default-features = false, features = [
  "html",
  "serde",
  "simd",
] }
pyo3 = { version = "=0.23.1", features = ["extension-module"] }
serde_json = "=1.0.133"

[profile.release]
strip = true
lto = "fat"
codegen-units = 1
