[build-system]
requires = ["maturin>=1,<2"]
build-backend = "maturin"

[project]
name = "pyromark"
description = "Blazingly fast Markdown parser"
readme = "README.md"
keywords = ["converter", "html"]
authors = [{ name = "monosans", email = "hsyqixco@protonmail.com" }]
requires-python = ">=3.7"
classifiers = [
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Intended Audience :: Information Technology",
  "License :: OSI Approved :: MIT License",
  "Natural Language :: English",
  "Operating System :: MacOS",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: POSIX :: Linux",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
  "Programming Language :: Rust",
  "Topic :: Software Development",
  "Topic :: Software Development :: Libraries",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Typing :: Typed",
]

[project.urls]
Homepage = "https://github.com/monosans/pyromark"
Documentation = "https://pyromark.readthedocs.io"
Repository = "https://github.com/monosans/pyromark"

[project.scripts]
pyromark = "pyromark.__main__:main"

[tool.maturin]
python-source = "python"
module-name = "pyromark._pyromark"
features = ["pyo3/extension-module"]

[tool.mypy]
python_version = "3.7"
disallow_subclassing_any = false
disallow_untyped_calls = false
disallow_untyped_decorators = false
warn_unreachable = true
local_partial_types = true
enable_error_code = [
  "redundant-self",
  "redundant-expr",
  "possibly-undefined",
  "truthy-bool",
  "truthy-iterable",
  "ignore-without-code",
  "unused-awaitable",
  "explicit-override",
]
strict = true

[tool.pytest.ini_options]
addopts = ["--strict-config", "--strict-markers"]
xfail_strict = true

[tool.ruff]
line-length = 80
preview = true
target-version = "py37"

[tool.ruff.format]
docstring-code-format = true
line-ending = "lf"
skip-magic-trailing-comma = true

[tool.ruff.lint]
ignore = [
  "ANN101",
  "ANN102",
  "ANN401",
  "BLE001",
  "C901",
  "COM812",
  "CPY001",
  "D100",
  "D101",
  "D102",
  "D103",
  "D104",
  "D105",
  "D106",
  "D107",
  "D415",
  "D417",
  "DJ008",
  "E203",
  "ERA001",
  "FBT002",
  "FURB180",
  "ISC001",
  "PD901",
  "PERF203",
  "PLR0904",
  "PLR0911",
  "PLR0912",
  "PLR0913",
  "PLR0915",
  "PLR0916",
  "PLR0917",
  "PT012",
  "RUF001",
  "RUF002",
  "RUF003",
  "RUF012",
  "S110",
  "S112",
  "S308",
  "S311",
  "SIM105",
  "TCH001",
  "TCH002",
  "TCH003",
  "TID252",
  "TRY400",
]
ignore-init-module-imports = true
select = ["ALL"]

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["FBT001", "S101"]

[tool.ruff.lint.flake8-self]
ignore-names = ["_name_", "_value_"]

[tool.ruff.lint.isort]
combine-as-imports = true
required-imports = ["from __future__ import annotations"]
split-on-trailing-comma = false

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.pyupgrade]
keep-runtime-typing = true
