[build-system]
build-backend = "maturin"
requires = ["maturin>=1,<2"]

[project]
name = "pyromark"
version = "0.5.1"
description = "Blazingly fast Markdown parser"
readme = "README.md"
keywords = ["converter", "html"]
authors = [{ name = "monosans", email = "hsyqixco@protonmail.com" }]
requires-python = ">=3.9"
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Natural Language :: English",
  "Operating System :: MacOS",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: POSIX :: Linux",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
  "Programming Language :: Rust",
  "Typing :: Typed",
]
urls.documentation = "https://pyromark.readthedocs.io"
urls.repository = "https://github.com/monosans/pyromark"
scripts.pyromark = "pyromark.__main__:main"

[tool.maturin]
python-source = "python"
module-name = "pyromark._pyromark"

[tool.uv]
dev-dependencies = [
  "mkdocs-material==9.5.42",
  "mkdocs-minify-html-plugin==0.2.3",
  "mkdocstrings==0.26.2",
  "mkdocstrings-python==1.12.2",
  "pytest==8.3.3",
  "typing-extensions==4.12.2",
]
