[build-system]
build-backend = "maturin"
requires = ["maturin>=1,<2"]

[project]
name = "pyromark"
version = "0.9.3"
description = "Blazingly fast Markdown parser"
readme = "README.md"
keywords = ["converter", "html"]
authors = [{ name = "monosans", email = "hsyqixco@protonmail.com" }]
requires-python = ">=3.9"
classifiers = [
  "Natural Language :: English",
  "Operating System :: MacOS",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: POSIX :: Linux",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
  "Programming Language :: Rust",
  "Typing :: Typed",
]
dependencies = ["typing-extensions>=3.7.4.2"]
urls.documentation = "https://pyromark.readthedocs.io"
urls.repository = "https://github.com/monosans/pyromark"
scripts.pyromark = "pyromark._cli:main"

[dependency-groups]
dev = [
  "mypy[faster-cache]==1.17",
  "pytest==8.4.1",
  "pytest-github-actions-annotate-failures==0.3",
  "ruff==0.12.5",
]
docs = [
  "mkdocs-material==9.6.16",
  "mkdocs-minify-html-plugin==0.3.1",
  "mkdocstrings==0.30",
  "mkdocstrings-python==1.16.12",
  "ruff==0.12.5",
]

[tool.maturin]
python-source = "python"
module-name = "pyromark._pyromark"

[tool.uv]
package = false
