[build-system]
requires = ["maturin>=0.15.1,<0.16"]
build-backend = "maturin"

[project]
name = "pyromark"
description = "Blazingly fast Markdown parser"
readme = "README.md"
keywords = ["converter", "html"]
authors = [{ name = "monosans", email = "hsyqixco@protonmail.com" }]
requires-python = ">=3.7"
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "License :: OSI Approved :: MIT License",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Programming Language :: Rust",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]

[project.urls]
Homepage = "https://github.com/monosans/pyromark"
Source = "https://github.com/monosans/pyromark"

[tool.maturin]
features = ["pyo3/extension-module"]

[tool.black]
target-version = ["py37"]
skip-magic-trailing-comma = true
preview = true

[tool.mypy]
python_version = "3.7"
disallow_subclassing_any = false
disallow_untyped_calls = false
disallow_untyped_decorators = false
warn_unreachable = true
local_partial_types = true
enable_error_code = [
    "redundant-self",
    "redundant-expr",
    "truthy-bool",
    "truthy-iterable",
    "ignore-without-code",
    "unused-awaitable",
]
strict = true

[tool.pytest.ini_options]
addopts = ["--strict-config", "--strict-markers"]
xfail_strict = true

[tool.ruff]
target-version = "py37"
select = ["ALL"]
ignore = [
    "ANN",
    "BLE001",
    "C901",
    "COM",
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
    "D203",
    "D205",
    "D212",
    "D213",
    "D400",
    "D401",
    "D407",
    "D415",
    "D417",
    "DJ008",
    "ERA001",
    "PD901",
    "PLR0911",
    "PLR0912",
    "PLR0913",
    "PLR0915",
    "PT012",
    "RUF001",
    "RUF002",
    "RUF003",
    "S110",
    "S112",
    "S308",
    "S311",
    "SIM105",
    "TCH001",
    "TCH002",
    "TCH003",
    "TID252",
    "TRY400",
]

[tool.ruff.per-file-ignores]
"tests/*" = ["S101", "UP006", "UP007"]

[tool.ruff.flake8-unused-arguments]
ignore-variadic-names = true

[tool.ruff.isort]
combine-as-imports = true
required-imports = ["from __future__ import annotations"]
