name: CI
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-24.04
            manylinux: "2_17"
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-24.04
            manylinux: "2_28"
          # - target: x86_64-unknown-linux-gnu
          #   runner: ubuntu-24.04
          #   manylinux: "2_34"
          - target: x86_64-unknown-linux-musl
            runner: ubuntu-24.04
            manylinux: musllinux_1_2
          - target: i686-unknown-linux-gnu
            runner: ubuntu-24.04
            manylinux: "2_17"
          - target: i686-unknown-linux-gnu
            runner: ubuntu-24.04
            manylinux: "2_28"
          - target: i686-unknown-linux-musl
            runner: ubuntu-24.04
            manylinux: musllinux_1_2
          - target: aarch64-unknown-linux-gnu
            runner: ubuntu-24.04-arm
            manylinux: "2_17"
          - target: aarch64-unknown-linux-gnu
            runner: ubuntu-24.04-arm
            manylinux: "2_28"
          # - target: aarch64-unknown-linux-gnu
          #   runner: ubuntu-24.04-arm
          #   manylinux: "2_34"
          - target: aarch64-unknown-linux-musl
            runner: ubuntu-24.04
            manylinux: musllinux_1_2
          - target: arm-unknown-linux-musleabihf
            runner: ubuntu-24.04
            manylinux: musllinux_1_2
          - target: armv7-unknown-linux-gnueabihf
            runner: ubuntu-24.04
            manylinux: "2_17"
          - target: armv7-unknown-linux-gnueabihf
            runner: ubuntu-24.04
            manylinux: "2_28"
          - target: armv7-unknown-linux-musleabihf
            runner: ubuntu-24.04
            manylinux: musllinux_1_2
          - target: powerpc64-unknown-linux-gnu
            runner: ubuntu-24.04
            manylinux: "2_17"
          - target: powerpc64le-unknown-linux-gnu
            runner: ubuntu-24.04
            manylinux: "2_17"
          - target: powerpc64le-unknown-linux-gnu
            runner: ubuntu-24.04
            manylinux: "2_28"
          - target: powerpc64le-unknown-linux-musl
            runner: ubuntu-24.04
            manylinux: musllinux_1_2
          - target: s390x-unknown-linux-gnu
            runner: ubuntu-24.04
            manylinux: "2_17"
          - target: s390x-unknown-linux-gnu
            runner: ubuntu-24.04
            manylinux: "2_28"
          - target: riscv64gc-unknown-linux-gnu
            runner: ubuntu-24.04
            manylinux: "2_31"
          # - target: loongarch64-unknown-linux-gnu
          #   runner: ubuntu-24.04
          #   manylinux: "2_36"
          - target: x86_64-apple-darwin
            runner: macos-15
            setup-python-versions: |
              3.10
              3.11
              3.12
              3.13
              3.13t
              3.14t
              pypy3.11
              3.14
          - target: aarch64-apple-darwin
            runner: macos-15
            setup-python-versions: |
              3.10
              3.11
              3.12
              3.13
              3.13t
              3.14t
              pypy3.11
              3.14
          - target: x86_64-pc-windows-msvc
            runner: windows-2025
            setup-python-architecture: x64
            setup-python-versions: |
              3.10
              3.11
              3.12
              3.13
              3.14
            build-python-versions: 3.10 3.11 3.12 3.13 3.14
          - target: x86_64-pc-windows-msvc
            runner: windows-2025
            setup-python-architecture: x64
            setup-python-versions: |
              3.13t
              3.14t
            build-python-versions: 3.13t 3.14t
            artifact_suffix: "-freethreaded"
          - target: i686-pc-windows-msvc
            runner: windows-2025
            setup-python-architecture: x86
            setup-python-versions: |
              3.10
              3.11
              3.12
              3.13
              3.14
            build-python-versions: 3.10 3.11 3.12 3.13 3.14
          - target: i686-pc-windows-msvc
            runner: windows-2025
            setup-python-architecture: x86
            setup-python-versions: |
              3.13t
              3.14t
            build-python-versions: 3.13t 3.14t
            artifact_suffix: "-freethreaded"
          - target: aarch64-pc-windows-msvc
            runner: windows-11-arm
            setup-python-architecture: arm64
            setup-python-versions: |
              3.11
              3.12
              3.13
              3.14
            build-python-versions: 3.11 3.12 3.13 3.14
          - target: aarch64-pc-windows-msvc
            runner: windows-11-arm
            setup-python-architecture: arm64
            setup-python-versions: |
              3.13t
              3.14t
            build-python-versions: 3.13t 3.14t
            artifact_suffix: "-freethreaded"
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - if: "${{ matrix.setup-python-versions }}"
        uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.setup-python-versions }}"
          allow-prereleases: true
          architecture: "${{ matrix.setup-python-architecture || '' }}"
          check-latest: true
      - uses: PyO3/maturin-action@v1
        with:
          args: --interpreter '${{ matrix.build-python-versions || '3.10 3.11 3.12 3.13 3.13t 3.14 3.14t pypy3.11' }}' --out dist --release
          target: ${{ matrix.target }}
          manylinux: ${{ matrix.manylinux || 'auto' }}
          rust-toolchain: beta
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
      - uses: actions/upload-artifact@v6
        with:
          name: |
            ${{ format('wheels-{0}-{1}{2}', matrix.target, matrix.manylinux || 'auto', matrix.artifact_suffix || '') }}
          path: dist
  check:
    if: ${{ always() && github.event_name == 'pull_request' }}
    needs:
      - build
      - clippy
      - pre-commit
      - pytest
      - rustfmt
      - sdist
      - udeps
    runs-on: ubuntu-24.04
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
  clippy:
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: beta
          components: clippy
      - run: cargo +beta clippy -- -Dwarnings
  pre-commit:
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
      - run: uv tool run --no-cache --python 3.14 prek run --all-files --show-diff-on-failure
        env:
          RUFF_OUTPUT_FORMAT: github
  pytest:
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    needs:
      - build
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.14"
          - "3.14t"
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/download-artifact@v7
        with:
          path: dist
          pattern: wheels-x86_64-unknown-linux-gnu-2_28*
          merge-multiple: "true"
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: pytest
        run: |
          set -e
          uv sync --no-install-project --locked --python ${{ matrix.python-version }}
          uv pip install --find-links dist pyromark
          uv run --no-sync pytest
  release:
    runs-on: ubuntu-24.04
    if: ${{ github.repository_owner == 'monosans' && startsWith(github.ref, 'refs/tags/') }}
    needs:
      - build
      - sdist
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v7
      - uses: PyO3/maturin-action@v1
        with:
          command: upload
          args: --skip-existing --non-interactive wheels-*/*
          rust-toolchain: beta
  rustfmt:
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt
      - run: cargo +nightly fmt --check
  sdist:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: --out dist
          rust-toolchain: beta
      - uses: actions/upload-artifact@v6
        with:
          name: wheels-sdist
          path: dist
  udeps:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          cache-key: x86_64-unknown-linux-gnu
      - run: cargo +nightly install --locked cargo-udeps
      - run: cargo +nightly udeps
